@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/jost/Jost-500-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Jost';
  src: url('../assets/fonts/jost/Jost-700-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}
