.button {
  padding: 0 $default-horizontal-button-padding;
  margin: 0 2px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline-color: $primary-text-color;

  &--text {
    margin: 0;
    padding: 0;
    transition: 0.25s text-shadow ease-in-out;
    will-change: text-shadow;

    &:hover:not(.underline) {
      text-shadow: 0 0 8px rgba($primary-text-color, 0.4);
    }
  }

  &--icon {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    transition: 0.35s background-color 0.1s ease-in-out;
    will-change: background-color;

    &:hover {
      background-color: $button-icon-hover-background;
    }
  }

  &--outlined {
    position: relative;
    border: 2px solid;
    font-size: 1.3rem;
    padding: 1.2rem 3.2rem;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -180%;
      transform: skew(-30deg);
      width: 150%;
      background-color: currentColor;
      opacity: 0.1;
      height: 110%;
      transition: 0.4s left 0.1s cubic-bezier(0.72, 0, 0.22, 1.74);
      will-change: left;
      z-index: -1;

    }

    &:hover {
      &::before {
        left: -80%;
      }
    }
  }
}

$input-font-size: 13px;
.form-field {
  @include flex(flex-start, flex-start);

  &--relative {
    position: relative;

    > .input-warning,
    > label {
      position: absolute;
    }

    > .button,
    > .input {
      position: relative;
    }
  }

  > .button,
  > .input {
    border-width: 0 0 2px;
    border-style: solid;
    border-color: $primary-text-color;
    font-size: $input-font-size;
  }
}

.input {
  &:not([type='submit']):not([type='button']):not([type='reset']) {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #fff;
    letter-spacing: 0.5px;
    font-weight: 400;
    outline: none; // outline removed, but other indicators will be present

    + label {
      min-width: 10rem;
      width: 10%;
      line-height: 4.2rem;
      top: 0;
      font-size: $input-font-size;
      font-weight: 400;
      pointer-events: none;
      border-bottom: 1px solid transparent;
      letter-spacing: 0.5px;
      transition: 0.35s all ease-in-out;
    }

    ~ .input-warning {
      bottom: 0;
      font-size: 1.1rem;
      font-weight: 400;
      color: $warning-color;
      pointer-events: none;
      opacity: 0;
      transition: 0.25s opacity ease-in-out;
    }

    &:invalid:not(:placeholder-shown) {
      border-bottom-color: $warning-color;

      ~ .button {
        border-bottom-color: $warning-color;
        color: $warning-color;
        pointer-events: none;
      }

      ~ .input-warning {
        opacity: 1;
      }
    }

    &:active,
    &:focus,
    &:not(:placeholder-shown) {
      border-bottom-width: 4px;

      + label {
        top: -0.6rem;
        line-height: 1.1rem;
        border-color: $primary-text-color;
        font-size: 1.1rem;
        opacity: 0.75;
      }

      ~ .button {
        border-bottom-width: 4px;

      }
    }

    @include media-mobile() {
      &:active,
      &:focus,
      &:not(:placeholder-shown) {
        + label {
          top: -1.2rem;
        }
      }
    }
  }

  &.input--with-button {
    ~ .button {
      right: 0;
      padding: 0 1.5rem;
    }
  }
}
