.button {
  padding: 0 $default-horizontal-button-padding;
  margin: 0 2px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  outline-color: $primary-text-color;

  &--text {
    margin: 0;
    padding: 0;
    transition: 0.25s text-shadow ease-in-out;
    will-change: text-shadow;

    &:hover:not(.underline) {
      text-shadow: 0 0 8px rgba($primary-text-color, 0.4);
    }
  }

  &--icon {
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 50%;
    transition: 0.35s background-color 0.1s ease-in-out;
    will-change: background-color;

    &:hover {
      background-color: $button-icon-hover-background;
    }
  }

  &--outlined {
    position: relative;
    border: 2px solid;
    font-size: 1.3rem;
    padding: 1.2rem 3.2rem;
    overflow: hidden;

    &::before {
      content: '';
      position: absolute;
      top: -2px;
      left: -180%;
      transform: skew(-30deg);
      width: 150%;
      background-color: currentColor;
      opacity: 0.1;
      height: 110%;
      transition: 0.4s left 0.1s cubic-bezier(0.72, 0, 0.22, 1.74);
      will-change: left;
      z-index: -1;

    }

    &:hover {
      &::before {
        left: -80%;
      }
    }
  }
}
