
.notifications-chip {
  width: 1.6rem;
  height: 1.6rem;
  @include inline-flex(center, center);
  border-radius: 50%;
  background-color: $primary-text-color;
  color: #fff;
  font-size: 1rem;
}

.underline {
  padding-bottom: 0.2rem;
  background: linear-gradient(0deg, currentColor 0%, currentColor 100%) no-repeat 0 100% / 0 2px;
  transition: 0.35s background-size 0.1s ease-in-out;
  will-change: background-size;

  &--active,
  &:hover {
    background-size: 100% 2px;
  }
}
