// layout variables
$layout-desktop-max-width: 132.6rem;

$nav-item-desktop-font-size: 1.5rem;

$default-horizontal-button-padding: 0.6rem;

$main-slide-desktop-slide-height: 33.8rem;

// theme variables
$primary-text-color: #151515;
$accents-color: #263a49;

$main-header-background-color: #d7d7d7;

$button-icon-hover-background: rgba($primary-text-color, 0.15);

$anchor-color: $primary-text-color;
