// layout variables
$layout-desktop-max-width: 132.6rem;

$desktop-horizontal-margin: 1rem;
$desktop-md-horizontal-margin: 2rem;
$tablet-horizontal-margin: 3rem;
$mobile-horizontal-margin: 2rem;

$main-header-wrapper-desktop-height: 9rem;
$main-header-wrapper-desktop-height-scrolled: 6.4rem;
$main-header-wrapper-tablet-height: 8rem;
$main-header-wrapper-tablet-height-scrolled: 6rem;
$main-header-wrapper-mobile-height: 6.5rem;
$main-header-wrapper-mobile-height-scrolled: 5.2rem;

$nav-item-desktop-font-size: 1.5rem;

$default-horizontal-button-padding: 0.6rem;

$main-slide-desktop-slide-height: 33.8rem;
$main-slide-mobile-slide-height: 30.5rem;

// theme variables
$primary-text-color: #151515;
$secondary-text-color: #454545;
$tertiary-text-color: #858585;

$accents-color: #263a49;
$warning-color: #bf4444;

$main-header-background-color: #cccccc;

$button-icon-hover-background: rgba($primary-text-color, 0.15);

$anchor-color: $primary-text-color;
