// layout variables
$layout-desktop-max-width: 132.6rem;

$main-header-desktop-height: 55rem;
$main-nav-desktop-height: 9rem;

$nav-item-desktop-font-size: 1.5rem;

// theme variables
$primary-text-color: #151515;

$main-header-background-color: #d7d7d7;

$button-icon-hover-background: rgba($primary-text-color, 0.15);

$anchor-color: $primary-text-color;
